body{
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header{
  background-image: url("../images/the-flatiron-building.png");
}

a {
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 23px;
}

.add {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
  color: white;
}
